<!-- Trabalho Desenvolvido na Data Science Academy - www.datascienceacademy.com.br -->
# <font color='blue'>Data Science Academy</font>
# <font color='blue'>Fundamentos de Linguagem Python - Do Básico a Aplicações de IA</font>
# <font color='blue'>Lista 1 de Exercícios</font>

#### Exercício 1

Escreva um programa que peça ao usuário para digitar seu nome e, em seguida, imprima uma mensagem de boas-vindas com o nome fornecido.

In [1]:
# Solução
nome = input("Digite seu nome")
print(f"Olá {nome}, seja bem vindo!")

Digite seu nomedsad
Olá dsad, seja bem vindo!

#### Exercício 2

Crie duas variáveis, numero1 e numero2, e atribua a elas valores inteiros. Calcule a soma, subtração, multiplicação e divisão dessas variáveis e imprima os resultados.

In [ ]:
# Solução
numero1 = input("Digite um número")
numero2 = input("Digite outro número")
numero1 = int(numero1)
numero2 = int(numero2)
soma = numero1 + numero2
subtracao = numero1 - numero2
multiplicacao = numero1 * numero2
divisao = numero1 / numero2
print(f"Soma: {soma}")
print(f"Subtração: {subtracao}")
print(f"Multiplicação: {multiplicacao}")
print(f"Divisão: {divisao}")

#### Exercício 3

Qual é a principal diferença entre uma variável de escopo local e uma de escopo global?

In [ ]:
# Solução
#Variavel de escopo global é usada no codigo inteiro
#Variavel de escopo local é usada em um determinado bloco do codigo

#### Exercício 4

Crie uma variável chamada saldo com o valor 500.50 (float). Em seguida, crie uma variável saque com o valor 200.25 (float). Subtraia o saque do saldo e imprima o saldo final formatado para duas casas decimais.

In [ ]:
# Solução
saldo = 500.80
saque = 200.25
saldo_final = saldo - saque
print(f"Saldo final: {saldo_final:.2f}")

#### Exercício 5

Declare uma variável booleana chamada **tem_carteira_de_motorista** e atribua a ela o valor True. Imprima uma mensagem que diga "Pode dirigir" se a variável for verdadeira e "Não pode dirigir" caso contrário.

In [ ]:
# Solução
tem_carteira_de_motorista = True
if tem_carteira_de_motorista:
    print("Pode dirigir")
else:
    print("Não pode dirigir")

#### Exercício 6

Crie duas variáveis:

- idade_ana = 25
- idade_beto = 30

Use operadores de comparação para verificar se a idade de Ana é menor que a de Beto e imprima o resultado booleano.

In [ ]:
# Solução
idade_ana=25
idade_beto=30
if idade_ana < idade_beto:
    print("Verdadeiro")
else:
    print("Falso")

#### Exercício 7

Receba um número inteiro do usuário e use o operador de módulo (%) para verificar se o número é par ou ímpar. Imprima o resultado.

Obs: Não estudamos ainda os condicionais, mas pesquise se necessário e tente resolver.

In [ ]:
# Solução
numero = int(input("Digite um número"))
if numero % 2 == 0:
    print("Par")
else:
    print("Ímpar")

#### Exercício 8

Crie duas variáveis booleanas:

- chovendo = True
- guarda_chuva = False

Use operadores lógicos para verificar se uma pessoa vai se molhar (se está chovendo E ela não tem guarda-chuva).

In [ ]:
# Solução
chovendo =True
guarda_chuva = False
if chovendo and not guarda_chuva:
    print("Vai se molhar")
else:
    print("Não vai se molhar")

#### Exercício 9

Calcule a potência de 2 elevado a 10 e imprima o resultado.

In [ ]:
# Solução
resultado = 2**10
print(resultado)

#### Exercício 10

Converta a string "2026" para um tipo inteiro e armazene-a em uma variável chamada ano. Em seguida, some 1 a essa variável e imprima o novo ano.

In [ ]:
# Solução
ano = int("2026")
ano = ano + 1
print(ano)

#### Exercício 11

Crie a string:

frase = "   Python é uma linguagem poderosa e estou aprendendo com a DSA   ".

Remova os espaços em branco do início e do fim da string e imprima a nova string.

In [ ]:
# Solução
frase = " Python é uma linguagem poderosa e estou aprendendo com a DSA "
frase = frase.strip()
print(frase)

#### Exercício 12

Na string do exercício anterior (já sem os espaços), converta toda a frase para letras maiúsculas.

In [ ]:
# Solução
frase = frase.upper()
print(frase)

#### Exercício 13

Ainda usando a mesma string, substitua a palavra "poderosa" por "incrível".

In [ ]:
# Solução
frase = frase.replace("poderosa","incrível")
print(frase)

#### Exercício 14

Verifique e imprima o número total de caracteres na string frase (após as modificações dos exercícios anteriores).

In [ ]:
# Solução
frase = len(frase)
print(frase)

#### Exercício 15

Use fatiamento (slicing) para extrair e imprimir apenas a palavra "Python" da string frase.

In [ ]:
# Solução
frase = "Python é uma linguagem poderosa e estou aprendendo com a DSA"
palavra = frase[0:6]
print(palavra)

#### Exercício 16

Crie uma lista chamada compras com os seguintes itens: "arroz", "feijão", "macarrão", "carne". Imprima a lista.

In [22]:
# Solução
compra = ["arroz", "feijão", "macarrão", "carne"]
print(compra)

['arroz', 'feijão', 'macarrão', 'carne']

#### Exercício 17

Adicione o item "leite" ao final da lista compras e imprima a lista atualizada.

In [11]:
# Solução
compra = compra + ["leite"]
print(compra)

['arroz', 'feijão', 'macarrão', 'carne', 'leite']

#### Exercício 18

Acesse e imprima o segundo item da lista compras.

In [13]:
# Solução
segundo_item = compra[1]
print(segundo_item)

feijão

#### Exercício 19

Remova o item "macarrão" da lista compras e imprima a lista final.

In [23]:
# Solução
compra.remove("macarrão")
print(compra)

['arroz', 'feijão', 'carne']

#### Exercício 20

Crie uma lista de números de 1 a 5. Use uma função para calcular e imprimir o tamanho (número de elementos) dessa lista.

In [24]:
# Solução
numeros = [1,2,3,4,5]
print(len(numeros))

5

#### Exercício 21

Crie uma tupla chamada meses com os três primeiros meses do ano: "Janeiro", "Fevereiro", "Março".

In [1]:
# Solução
meses = ("Janeiro", "Fevereiro", "Março")
print(meses)

('Janeiro', 'Fevereiro', 'Março')

#### Exercício 22

Tente adicionar o mês "Abril" à tupla meses. O que acontece? Explique o resultado.

In [35]:
# Solução
meses = meses + ("Abril")
print(meses)
# Não é possivel modificar dados de uma tupla

TypeError: can only concatenate tuple (not "str") to tuple

#### Exercício 23

Acesse e imprima o primeiro mês da tupla meses.

In [6]:
# Solução

print(meses[0])

Janeiro

#### Exercício 24

Crie um dicionário chamado filme com as seguintes chaves e valores:

- titulo = "O Poderoso Chefão",
- ano = 1972
- diretor = "Francis Ford Coppola"

In [7]:
# Solução
filme = {
    "titulo": "O Poderoso Chefão",
    "ano": 1972,
    "diretor": "Francis Ford Coppola"
}
print(filme)

{'titulo': 'O Poderoso Chefão', 'ano': 1972, 'diretor': 'Francis Ford Coppola'}

#### Exercício 25

Acesse e imprima o ano de lançamento do filme a partir do dicionário.

In [8]:
# Solução
print(filme["ano"])

1972

#### Exercício 26

Adicione uma nova chave genero com o valor "Drama" ao dicionário filme e imprima o dicionário completo.

In [9]:
# Solução
filme

{'titulo': 'O Poderoso Chefão', 'ano': 1972, 'diretor': 'Francis Ford Coppola'}

#### Exercício 27

Modifique o valor da chave ano para 1973 e imprima o dicionário atualizado.

In [11]:
# @title Texto de título predefinido
# Solução
filme["ano"] = 1973
print(filme)

{'titulo': 'O Poderoso Chefão', 'ano': 1973, 'diretor': 'Francis Ford Coppola'}

#### Exercício 28

Crie uma lista com os seguintes números: [1, 2, 2, 3, 4, 4, 5, 1]. Use um conjunto para remover os números duplicados e imprima o resultado.

In [12]:
# Solução
conjunto = [1, 2, 2, 3, 4, 4, 5, 1]
conjunto = set(conjunto)
print(conjunto)

{1, 2, 3, 4, 5}

#### Exercício 29

Crie dois conjuntos:

- set_a = {1, 2, 3, 4}
- set_b = {3, 4, 5, 6}

Encontre e imprima a interseção entre os dois conjuntos (os elementos que estão em ambos).

In [13]:
# Solução
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}
intersecao = set_a.intersection(set_b)
print(intersecao)

{3, 4}

#### Exercício 30

Escreva um programa que peça ao usuário para digitar sua altura em metros (ex: 1.75) e seu peso em quilogramas (ex: 68.5). Calcule o Índice de Massa Corporal (IMC) usando a fórmula IMC = peso / (altura * altura) e imprima o resultado formatado com duas casas decimais.

In [16]:
# Solução
altura = float(input("Digite a sua altura"))
peso = float(input("digite o seu peso"))
imc = peso / (altura * altura)
print(f"Seu IMC é: ({imc:.2f})")

Digite a sua altura1.70
digite o seu peso116
Seu IMC é: (imc)

# Fim